@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Orbitron", sans-serif;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #313131;
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
}
